*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
$browser-default-font-size: 37.5px !default;
/*html {
    font-size: $browser-default-font-size;
}*/
@function pxTorem($px){//$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}
//SCSS
html {
    font-size: $browser-default-font-size;
}
html,body,#app,.wrap{
    width:100%;
    height: 100%;
    overflow: hidden;
    
}
a{
    text-decoration: none;
    color:#000;
}
.wrap{
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    font-size: pxTorem(14px);
}
header{
    width:100%;
    height: pxTorem(44px);
    background: #3677E0;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
    font-size: pxTorem(17px);
    >span:nth-child(1){
        display: flex;
        align-items: center;
        >.icon{
            font-size: 29px;
            line-height: pxTorem(44px);
        }
        .name{
            padding-left: pxTorem(5px);
    
        }
    }
    p{
        span:nth-child(1){
            display: inline-block;
            width:pxTorem(50px);
            height: pxTorem(28px);
            border-radius: pxTorem(15px);
            background: #2565CD;
            text-indent: pxTorem(10px);
            line-height: pxTorem(28px);
            margin-right: 17px;
        }
        span:nth-child(2){
            font-size: pxTorem(15px);
        }
    }
    i{
        font-style: normal;
    }

}
.letter{
    position: fixed;
    padding: 0 pxTorem(3px);
    background: #fff;
    opacity: 1; 
    display: block; 
    height: 533.6px;
    top: 66.7px;
    right: 0;
    li{
        padding:pxTorem(5px);
        span{
            display: block;
            height: 15px;
            line-height: 15px;
            color: #266DE2;
            width: 25px;
            text-align: center;
            font-size: pxTorem(12px);
            text-decoration: none;
            
        }
        
    }
}
.content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;

}
.content_list{
    width:100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    .car_list{
        width:100%;
        
    }
}
.show{
    position: absolute;
    left:50%;
    top:50%;
    margin-top:pxTorem(-50px);
    margin-left:pxTorem(-50px);
    width: pxTorem(100px);
    height: pxTorem(100px);
    background: rgba(0,0,0,0.5);
    text-align: center;
    line-height: pxTorem(100px);
    border-radius: pxTorem(5px);
    span{
        font-size:pxTorem(40px);
        color:white;
    }
}
.list{
    width:100%;
    p{
        font-size: .28rem;
        line-height: .4rem;
        background: #f4f4f4;
        padding-left: .3rem;
        color: #aaa;
    }
    ul{
        width:100%;
        li{
            padding:pxTorem(10px) pxTorem(15px);
            box-sizing: border-box;
            overflow: hidden;
            border-bottom: 1px solid #eee;
            display: flex;
            span:nth-child(1){
                width: 40px;
                height: 40px;
                display: inline-block;
                display: flex;
                
                align-items: center;
                img{
                    width:100%;
                    height: auto;
                    
                }
            }
            span:nth-child(2){
                display: flex;
                align-items: center;
                padding-left:pxTorem(15px);
            }
        }
    }
}
.another{
    width:100%;
    height: 100%;
    flex-shrink: 0;
    transition:.6s transform;
    transform: translateX(0);
    display: flex;
    .left{
        flex:3;
        background: rgba(0,0,0,0.3);
        position: relative;
        span{
            position: absolute;
            left:50%;
            top:50%;
            color:white;
            i{
                font-size: pxTorem(50px);
            }
        }
    }
    .right{
        flex:7;
        overflow: scroll;
        background: white;
    }
}
.right_list{
    width:100%;
    >p{
        margin-left: 0.02667rem;
        font-size: .34rem;
        line-height: 0.4rem;
        background: #f2f2f2;
        padding-left: 0.8rem;
        color: #717171;
    }
    ul{
        width:100%;
        overflow: scroll;
        a{
            font-size: .32rem;
        }
        li{
            width: 100%;
            display: flex;
            align-items: center;
            height: pxTorem(70px);
            box-sizing: border-box;
            border-bottom: 1px solid #ddd;
            background: white;
            img{
                margin: 0 pxTorem(5px) pxTorem(10px);
                width: 1.8rem;
                height: 1.2rem;
            }
            >div{
                
                background: white;
                p:first-child {
                    font-size: .35rem;
                    color: #5f687a;
                }
                p:nth-child(2) {
                    margin-top: pxTorem(5px);
                    font-size: .3rem;
                    color: red;
                }
            }
        }
    }
}






